/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Container and Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-icon {
    height: 40px;
    margin-right: 10px;
}

.redirect-btn {
    padding: 10px 15px;
    background-color: #d522db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.redirect-btn:hover {
    background-color: #0056b3;
}

/* Content Styles */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-content {
    text-align: justify;
    max-width: 800px;
    margin-bottom: 20px;
}

.text-box h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.n {
    font-weight: bold;
}

/* Image Styles */
/* Imagen centrada y más pequeña */
.image-content img {
    max-width: 300px; /* Tamaño máximo deseado */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    margin: 0 auto; /* Centra la imagen dentro de su contenedor */
    border-radius: 10px; /* Opcional: esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra para estilizar */
}


.responsive-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}
